.side-panel {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh; /* Viewport height */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }
  
  .side-panel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-panel li {
    margin: 15px 0;
  }
  
  .side-panel a {
    color: white;
    text-decoration: none;
  }
  
  .side-panel a.active {
    font-weight: bold;
  }

  .nav-link.disabled {
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
  }
  
  .nav-link {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: blue;
  }
  